# Node modules
node_modules/

# VSCode settings
.vscode/

# Log files
*.log

# Dependency directories
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
/dist
/build

# Environment variables
.env